
<main id="account-addresses" class="customer">  
<section class="index-padding flex-container-do aifs">
   <div class="third accent-padding">
        <h3 class="accent nmt">Your Account</h3>
        <ul>
          <li><h4><a href="/account">Your Orders</a></h4></li>
          <li><h4><a href="/account/addresses" class="current">View Addresses</a></h4></li>
          <li><h4><a href="/pages/contact-us">Contact Pacas</a></h4></li>
          <li><h4><a href="/account/logout" id="customer_logout_link">Logout</a></h4></li>
        </ul>
      </div>
  <div class="two-thirds accent-padding border-lightgray " id="order-history">
    <h4 class="nmt tac">Manage Addresses</h4>
    <p class="action-add"><a href="#add" onclick="showAddAddress();">Add New Address</a></p>
    <div id="add-address">
      {% form 'customer_address', customer.new_address %}
        <input type="text" id="address_first_name_new" name="address[first_name]" value="{{form.first_name}}" size="40" placeholder="First Name">
        <input type="text" id="address_last_name_new" name="address[last_name]" value="{{form.last_name}}" size="40" placeholder="Last Name">
        <input type="text" for="address_company_new" name="address[company]" value="{{form.company}}" size="40" placeholder="Company">
        <input type="text" id="address_address1_new" name="address[address1]" value="{{form.address1}}" size="40" placeholder="Address">
        <input type="text" id="address_address2_new" name="address[address2]" value="{{form.address2}}" size="40" placeholder="Address Line 2">
        <input type="text" id="address_city_new" name="address[city]" value="{{form.city}}" size="40" placeholder="City"><br>
        <select id="address_country_new" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select><br>
        <div id="address_province_container_new">
          <select id="address_province_new" name="address[province]" data-default="{{form.province}}" placeholder="State / Province"></select>
        </div>
        <input type="text" id="address_zip_new" class="short" name="address[zip]" value="{{form.zip}}" placeholder="Zip Code">
        <input type="text" id="address_phone_new" class="short" name="address[phone]" value="{{form.phone}}" placeholder="Phone Number">
          <p class="subscript"><label class="checkbox">{{ form.set_as_default_checkbox }} <span>Set as Default Address?</span></label></p>  
        <div class="accent-padding tac">
            <input type="submit" value="Add Address">
            <p><a href="#" onclick="hideAddAddress();" class="back">Back</a></p>
        </div>
      {% endform %}
    </div>
    <div class="address-tables">
      {% paginate customer.addresses by 6 %}
      {% for address in customer.addresses %}
        <div id="view_address_{{address.id}}" class="border-white address-list">
          <div class="view_address">
            <p><b>{{ address.street }}</b> 
              {% if address == customer.default_address %}<span class="default_address note">(Default Address)</span>{% endif %}<br/>
            {{ address.first_name }} {{address.last_name }}<br/>
            {% if address.company != ''%}{{ address.company }}<br/>{% endif %}
            {{ address.street }}<br/>
            {{ address.city }}{% if address.province_code %}, {{ address.province_code }}{% endif %}<br/>
            {{ address.country }} {{ address.zip }}<br/>
            {{ address.phone }}</p>
          </div>
          <p class="address-actions">
            <span class="action-edit" onclick="addAddressHide()">{{ "Edit" | edit_customer_address_link: address.id }}</span> / <span class="action-delete">{{ "Delete" | delete_customer_address_link: address.id }}</span>
          </p>
      </div>
      <div id="edit_address_{{address.id}}" class="customer-address edit-address" style="display: none">
        {% form 'customer_address', address %}
          <input type="text" id="address_first_name_{{form.id}}" class="address_form" name="address[first_name]" value="{{form.first_name}}" size="40" placeholder="First Name">
          <input type="text" id="address_last_name_{{form.id}}" class="address_form" name="address[last_name]" value="{{form.last_name}}" size="40" placeholder="Last Name">
          <input type="text" id="address_company_{{form.id}}" class="address_form" name="address[company]" value="{{form.company}}" size="40" placeholder="Company Name">
          <input type="text" id="address_address1_{{form.id}}" class="address_form" name="address[address1]" value="{{form.address1}}" size="40" placeholder="Address">
          <input type="text" id="address_address2_{{form.id}}" class="address_form" name="address[address2]" value="{{form.address2}}" size="40" placeholder="Address Line 2">
          <input type="text" id="address_city_{{form.id}}" class="address_form" name="address[city]" value="{{form.city}}" size="40" placeholder="City">
          <select id="address_country_{{form.id}}" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
          <div id="address_province_container_{{address.id}}">
            <select id="address_province_{{form.id}}" name="address[province]" data-default="{{form.province}}" placeholder="State / Province"></select>
          </div>
          <input type="text" id="address_zip_{{form.id}}" class="address_form" name="address[zip]" value="{{form.zip}}" size="40" placeholder="Zip Code">
          <input type="text" id="address_phone_{{form.id}}" class="address_form" name="address[phone]" value="{{form.phone}}" size="40" placeholder="Phone Number">
          <p class="subscript"><label class="checkbox">{{ form.set_as_default_checkbox }} <span>Set as Default Address?</span></label></p>  
          <div class="accent-padding tac">
            <input type="submit" value="Update Address">
            <p><a href="javascript:void(0)" onclick="Shopify.CustomerAddress.toggleForm({{form.id}}); return false;" class="back">Back</a></p>
          </div>       
        {% endform %}
      </div>
    {% endfor %}
    {% include 'pagination' %}
  {% endpaginate %}
  </div>
  </div>
</section>
  <script type="text/javascript" charset="utf-8">
        // initialize observers on address selectors
        new Shopify.CountryProvinceSelector('address_country_new', 'address_province_new', {hideElement: 'address_province_container_new'});  
        {% for address in customer.addresses %}
        new Shopify.CountryProvinceSelector('address_country_{{address.id}}', 'address_province_{{address.id}}', {hideElement: 'address_province_container_{{address.id}}'});
        {% endfor %}
    </script>
    <script type="text/javascript">
      if (window.location.hash == '#add') { 
          showAddAddress();
      } else {
          hideAddAddress();
      }
      function showAddAddress() {
          $('#add-address').show();
          $('.action-add').hide();
          $('.address-tables').hide();
          window.location.hash = '#add';
          return false;
      }
      function hideAddAddress() {
          $('#add-address').hide();
          $('.address-tables').show();
          $('.action-add').show();
          return false;
      }
      function addAddressHide() {
        $('.action-add').hide();
      }
      $('.edit-address .back').click(function() {
        $('.action-add').show();
      })
    </script>
</main>