
<main id="register" class="customer">	  
  <div class="double-padding-to">
  {% if customer %}
    <script type="text/javascript">
      window.location = '/account/'; 
   </script>
  {% else %}
    <section class="tac fw">
      <h3 class="">Create an Account</h3>
      <p class="nmt"><img src="{{'paca-icon.png' | asset_url}}" class="account-icon"/>Already have an account? <a href="/account/login" class="border-bottom-gray">Login here.</a></p>
    </section>    
    <section class="accent-padding">
      {% form 'create_customer' %}
        {{ form.errors | default_errors }}
      <input type="text" value="{{ form.first_name }}" name="customer[first_name]" id="first_name" size="30" placeholder="First Name">
      <input type="text" value="{{ form.last_name }}" name="customer[last_name]" id="last_name" {% if form.errors contains 'last_name' %} class="error"{% endif %} size="30" placeholder="Last Name">
      <input type="email" value="{{ form.email }}" name="customer[email]" id="email"{% if form.errors contains 'email' %} class="error"{% endif %} size="30" placeholder="Email">
      <input type="password" value="" name="customer[password]" id="password"{% if form.errors contains 'password' %} class="error"{% endif %} size="30" placeholder="Password">
      <input class="clickable" type="submit" value="Create">
    {% endform %}
  </section>
    <img src="{{'account-paca.png' | asset_url}}" class="account-paca"/>

  {% endif %}
  </div>
</main>
