<style>

</style>
<section class="tac" id="live-feed-wrapper">
  <h3 class="nm">Check out our Live Feed</h3>
  <h3 class="accent nmt">#alpacas</h3>
  <section id="live-feed-snippet" class="fw">
    <p class="left-arrow large clickable">⌃</p>
    <div>
      <a href="https://www.instagram.com/p/BtbYUten7Qc/" target="_blank">
        <img data-src="{{'@1870farm1.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @1870farm<"/>
        <p class="tac subscript">@1870farm</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/BrL7YTQgGS2/" target="_blank">
        <img data-src="{{'@ddauphinee1.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @ddauphinee"/>
        <p class="tac subscript">@ddauphinee</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/BtbYUten7Qc/" target="_blank">
        <img data-src="{{'@alpaca_girl1221.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @alpaca_girl12"/>
        <p class="tac subscript">@alpaca_girl122</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/BtcU4Syn3xK/" target="_blank">
        <img data-src="{{'@llamalpaca161.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @llamalpaca16"/>
        <p class="tac subscript">@llamalpaca16</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/BqDUzUbF7Bg/" target="_blank">
        <img data-src="{{'@alpaca.bee1.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @alpaca.bee"/>
        <p class="tac subscript">@alpaca.bee</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/BtXtC9aAPrj/" target="_blank">
        <img data-src="{{'@alpacaloca.nl1.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @alpacaloca.nl"/>
        <p class="tac subscript">@alpacaloca.nl</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/Bsqt7f1HOjO/" target="_blank">
        <img data-src="{{'@alpacamylife1.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @alpacamylife"/>
        <p class="tac subscript">@alpacamylife</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/BtMPvDPl_RE/" target="_blank">
        <img data-src="{{'@living_on_the_island1.png' | asset_url}}" class="lazyload"alt="Alpaca Image by @living_on_the_island" />
        <p class="tac subscript">@living_on_the_island</p>
      </a>
    </div>

    <div>
      <a href="https://www.instagram.com/p/Btdkn9zFNb-/" target="_blank">
        <img data-src="{{'@lpfpacas1.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @lpfpacas"/>
        <p class="tac subscript">@lpfpacas</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/BtWuq18AW1M/" target="_blank">
        <img data-src="{{'@annramazanova1.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @annramazanova"/>
        <p class="tac subscript">@annramazanova</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/BtVv2VsA7KO/" target="_blank">
        <img data-src="{{'@macron6t1.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @macron6t"/>
        <p class="tac subscript">@macron6t</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/BtdSjQklJVs/" target="_blank">
        <img data-src="{{'@alpakamomente1.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @alpakamomente"/>
        <p class="tac subscript">@alpakamomente</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/Bkve6OYBu7F/" target="_blank">
        <img data-src="{{'@bajo.tu.cielo1.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @bajo.tu.cielo"/>
        <p class="tac subscript">@bajo.tu.cielo</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/BtbVmiDF16v/" target="_blank">
        <img data-src="{{'@bigbangalpacas1.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @bigbangalpacas"/>
        <p class="tac subscript">@bigbangalpacas</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/Btc_NqFldkq/" target="_blank">
        <img data-src="{{'@cardiff_alpacas1.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @cardiff_alpacas"/>
        <p class="tac subscript">@cardiff_alpacas</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/BtWaUXtFQma/" target="_blank">
        <img data-src="{{'@chloewisbey1.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @chloewisbey"/>
        <p class="tac subscript">@chloewisbey</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/BtZPfQmlebA/" target="_blank">
        <img data-src="{{'@mashgordon1.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @mashgordon"/>
        <p class="tac subscript">@mashgordon</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/BtYbGmoBvOs/" target="_blank">
        <img data-src="{{'@mini_meadows_farm1.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @mini_meadows_farm"/>
        <p class="tac subscript">@mini_meadows_farm</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/BtdXkJilVMn/" target="_blank">
        <img data-src="{{'@moorhousecottage1.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @moorhousecottage"/>
        <p class="tac subscript">@moorhousecottage</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/BtbxcT5H-wv/" target="_blank">
        <img data-src="{{'@profelees1.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @profelees"/>
        <p class="tac subscript">@profelees</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/BjXqvuigefZ/" target="_blank">
        <img data-src="{{'@chris.enticott1.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @chris.enticott"/>
        <p class="tac subscript">@chris.enticott</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/Btbbn5lB-7q/" target="_blank">
        <img data-src="{{'@christopher.webster.5851.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @christopher.webster.585"/>
        <p class="tac subscript">@christopher.webster.585</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/BtbpNLRjpUp/" target="_blank">
        <img data-src="{{'@courtneyanne4591.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @courtneyanne459"/>
        <p class="tac subscript">@courtneyanne459</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/Btawx18gbI6/" target="_blank">
        <img data-src="{{'@endzi_lukasiewicz1.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @endzi_lukasiewicz"/>
        <p class="tac subscript">@endzi_lukasiewicz</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/BtW-D84gK64/" target="_blank">
        <img data-src="{{'@shufflingllamas1.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @shufflingllamas"/>
        <p class="tac subscript">@shufflingllamas</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/BtbWXQwl7-M/" target="_blank">
        <img data-src="{{'@werntalapakas71.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @werntalapakas7"/>
        <p class="tac subscript">@werntalapakas7</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/BtbNQq7jjxk/" target="_blank">
        <img data-src="{{'@yaycork1.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @yaycork"/>
        <p class="tac subscript">@yaycork</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/Btdbm7-lGz9/" target="_blank">
        <img data-src="{{'@sandy_warner1.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @sandy_warner"/>
        <p class="tac subscript">@sandy_warner</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/Btd3K9UlSD_/" target="_blank">
        <img data-src="{{'@maryydolly1.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @maryydolly"/>
        <p class="tac subscript">@maryydolly</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/Btbzd0IlXAm/" target="_blank">
        <img data-src="{{'@ferodrigues051.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @ferodrigues05"/>
        <p class="tac subscript">@ferodrigues05</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/BtVcYvClX4h/" target="_blank">
        <img data-src="{{'@hallfarmeastoft1.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @hallfarmeastoft"/>
        <p class="tac subscript">@hallfarmeastoft</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/Br-Q1LAFMpk/" target="_blank">
        <img data-src="{{'@highlandairsalpacaranch1.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @highlandairsalpacaranch"/>
        <p class="tac subscript">@highlandairsalpacaranch</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/BtcbkHJDDQE/" target="_blank">
        <img data-src="{{'@hmphotographyanddesign1.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @hmphotographyanddesign"/>
        <p class="tac subscript">@hmphotographyanddesign</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/Btc_3sVlMS5/" target="_blank">
        <img data-src="{{'@sonobonbon1.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @sonobonbon"/>
        <p class="tac subscript">@sonobonbon</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/BtbHe0vAdCe/" target="_blank">
        <img data-src="{{'@tinylittlenina1.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @tinylittlenina"/>
        <p class="tac subscript">@tinylittlenina</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/Btb8-YKDH5p/" target="_blank">
        <img data-src="{{'@tupaca_the_alpaca1.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @tupaca_the_alpaca"/>
        <p class="tac subscript">@tupaca_the_alpaca</p>
      </a>
    </div>
    <div>
      <a href="https://www.instagram.com/p/BtbcVMjBfOi/" target="_blank">
        <img data-src="{{'@vndrewl1.png' | asset_url}}" class="lazyload" alt="Alpaca Image by @vndrewl"/>
        <p class="tac subscript">@vndrewl</p>
      </a>
    </div>
    </div>
    <p class="right-arrow large clickable">⌃</p>
  </section>


  <script>
    $('p.large').on("click", function() { 
      var wrapper = $('#live-feed-snippet'); 
      if ($(this).hasClass('right-arrow')) { 
        $(wrapper).animate( { scrollLeft: '+=300' })
      }
      else {
        $(wrapper).animate({scrollLeft: '-=300'});  
      }
    }); 
  </script>