{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}


<footer class="background-gray">
  <div class="flex-container jes">
    <section class="flex-container-no jes text-white half">
    <ul class="tac">
      <a href="/pages/our-story"><li class="text-white">Our Story</li></a>
      <a href="/pages/live-feed"><li class="text-white">Live Feed</li></a>
      <a href="/pages/faq"><li class="text-white">FAQ</li></a>
      <a href="/pages/privacy-policy"/><li class="text-white">Privacy Policy</li></a>
      <a href="/pages/returns"/><li class="text-white">Returns & Exchanges</li></a>
     <a href="/pages/reviews"><li class="text-white">Reviews
      </li></a>
    </ul>
    <ul class="tac">
      <a href="/collections/mens-crew"><li class="text-white">Men</li></a>
      <a href="/collections/womens-crew"><li class="text-white">Women</li></a>
      <a href="/collections/youth-crew"><li class="text-white">Kids</li></a>
          <a href="/products/pacas-gift-card"><li class="text-white">Gift Cards</li></a>

      <a href="/pages/contact-us"><li class="text-white">Contact Us</li></a>
            <a href="/pages/wholesale-purchasing"><li class="text-white">Wholesale</li></a>
            <a href="/pages/corporate-gifting"><li class="text-white">Corporate Gifting</li></a>

    </ul>
  </section>
    <section class="half">
      <div class="social-icons tac">
        <a href="https://www.facebook.com/pacas.apparel/" target="_blank"><img data-src="{{'fb-w.png' | asset_url}}" alt="Facebook" class="lazyload"/></a>
        <a href="https://www.instagram.com/pacas.apparel/?hl=en" target="_blank"><img data-src="{{'ig-w.png' | asset_url}}" alt="Instagram" class="lazyload"/></a>
      </div>
      <p class="tac subscript text-white">Want to stay up to date with events and exclusive offers? Sign up for our newsletters.</p>
      <form action="https://manage.kmail-lists.com/subscriptions/subscribe?g=MdrVKk" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
                  <input type="email" value="" name="EMAIL" class="required email email_update border-white" id="mce-EMAIL" placeholder="Your email address">
                  <input type="submit" class="submit"value="sign up" name="subscribe" id="mc-embedded-subscribe">
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response"></div>
                    <div class="response" id="mce-success-response"></div>
                  </div>
              </form>
    </section>
  </div>
    <img data-src="{{'Pacas-white.png' | asset_url}}" class="lazyload jlogo" />

  <p class="subscript tac nmt text-white">© {{ 'now' | date: "%Y" }} All Rights Reserved</p>
  <div class="jcc flex-container-no fw">
       <img data-src="{{'amazon-pay.png' | asset_url}}" class="payment-icon lazyload" alt="amazon pay"/>
              <img data-src="{{'amex.png' | asset_url}}" class="payment-icon lazyload" alt="amex"/>
              <img data-src="{{'apple-pay.png' | asset_url}}" class="payment-icon lazyload" alt="apple pay"/> 
              <img data-src="{{'discover.png' | asset_url}}" class="payment-icon lazyload" alt="discover"/>
              <img data-src="{{'google-pay.png' | asset_url}}" class="payment-icon lazyload" alt="google pay"/>
              <img data-src="{{'mastercard.png' | asset_url}}" class="payment-icon lazyload" alt="mastercard" />
              <img data-src="{{'paypal.png' | asset_url}}" class="payment-icon lazyload" alt="paypal" />
              <img data-src="{{'visa.png' | asset_url}}" class="payment-icon lazyload" alt="visa"/>
  </div>
</footer>
