
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}


 <nav class="fw do fixed-nav" id="dnav">
  <div class="flex-container">
    <div class="flex-container jes">
      <a href="/collections/mens-low-cut" class="mainlink"><p class="ib mens">Men</p></a>
      <a href="/collections/womens-crew" class="mainlink"><p class="ib womens">Women</p></a>
      <a href="/collections/youth-crew" class="mainlink"><p class="ib kids">Kids</p></a>
      <a href="/pages/reviews" class="mainlink"><p class="ib">Reviews</p></a>
    </div>
    <a href="/"><img data-src="{{'Pacas_logo_darkgray.png' | asset_url}}"  class="jlogo lazyload" alt="Pacas Home"/></a>
    <div class="flex-container jes">
      <a href="/pages/our-story" class="mainlink"><p class="ib">Giving Back</p></a>
      <a href="/pages/pacas-facts" class="mainlink"><p class="ib">About Alpacas</p></a>
      <div>
        {% if customer %}
          <a href="/account">
        {% else %}
          <a href="/account/login">
        {% endif %}
          <img data-src="{{'account.png' | asset_url}}" id="account-pal" class="cart-icon lazyload" style="vertical-align: bottom;" alt="account"/>
        </a>
            <a href="/cart" style="z-index: 999;" class="cart"><img src="{{'WheelBarrow.png' | asset_url}}"class="cart-icon" style="vertical-align: text-top;" alt="Cart"/><span class="" style="vertical-align: top; ">{{ cart.item_count }}</span></a>
    </div>
    </div>
  </div> 
  <div class="mens desktop-collections" style="display: none;">
    <div class="flex-container-no jcc accent-padding-to">
  <a href="/collections/mens-crew">
          <div class="background-blue tac desktop-type-wrapper">
            <p>Crew Cut</p>
            <img data-src="{{'HeaderProducts_CrewMens.png' | asset_url}}" class="lazyload"/>
          </div> 
        </a>
        <a href="/collections/mens-low-cut">
          <div class="background-blue tac desktop-type-wrapper">
            <p>Low Cut</p>
            <img data-src="{{'HeaderProducts_MensLowcut.png' | asset_url}}" class="lazyload" alt="Men's low cut"/>
          </div> 
        </a>
        <a href="/products/pacas-super-soft-scarf">
          <div class="background-blue tac desktop-type-wrapper">
             <p>Scarves</p>
              <img data-src="{{'HeaderProducts_MensScarf.png' | asset_url}}" class="lazyload" alt="Scarves"/>
          </div>
        </a>

      </div>
  </div> 
   <div class="kids desktop-collections" style="display: none;">
    <div class="flex-container-no jcc accent-padding-to">
       <a href="/collections/youth-crew">
        <div class="background-blue tac desktop-type-wrapper">
          <p>Youth Crew Cut</p>
          <img data-src="{{'HeaderProducts_KidsCrew.png' | asset_url}}"  class="lazyload" alt="Youth crew cut"/>
        </div> 
      </a>
      <a href="/collections/youth-low-cut">
        <div class="background-blue tac desktop-type-wrapper">
          <p>Youth Low Cut</p>
           <img data-src="{{'HeaderProducts_Toddler.png' | asset_url}}"  class="lazyload" alt="Youth low cut"/>
        </div>
      </a>
      <a href="/collections/toddler">
        <div class="background-blue tac desktop-type-wrapper">
          <p>Toddler</p>
          <img data-src="{{'HeaderProducts_KidsLow.png' | asset_url}}"  class="lazyload" alt="Toddler socks"/>
        </div>
      </a>
      </div>
  </div>	
  <div class="womens desktop-collections" style="display: none;">
    <div class="flex-container-no jcc accent-padding-to">
       <a href="/collections/womens-crew">
        <div class="background-blue tac desktop-type-wrapper">
          <p>Crew Cut</p>
          <img data-src="{{'HeaderProducts_CrewWomens.png' | asset_url}}" class="lazyload" alt="Women's crew cut"/>
        </div> 
      </a>
      <a href="/collections/womens-low-cut">
        <div class="background-blue tac desktop-type-wrapper">
          <p>Low Cut</p>
          <img data-src="{{'HeaderProducts_NewLowWhite.png' | asset_url}}"  class="lazyload" alt="Women's low cut"/>
        </div>
      </a>
      <a href="/products/pacas-super-soft-scarf">
        <div class="background-blue tac desktop-type-wrapper">
          <p>Scarves</p>
          <img data-src="{{'HeaderProducts_Scarves.png' | asset_url}}"  class="lazyload" alt="Scarves"/>
        </div>
      </a>
       <a href="/products/pacas-super-soft-throw-blanket">
        <div class="background-blue tac desktop-type-wrapper">
          <p>Throws</p>
          <img data-src="{{'HeaderProducts_Throws.png' | asset_url}}"  class="lazyload" alt="Throws"/>
        </div>
      </a>
          <a href="/products/pacas-super-soft-beanie">
        <div class="background-blue tac desktop-type-wrapper">
          <p>Beanies</p>
          <img data-src="{{'ProductsHeader_Beanie.png' | asset_url}}"  class="lazyload" alt="Beanies"/>
        </div>
      </a> 
      <a href="/products/pacas-super-soft-wraps">
        <div class="background-blue tac desktop-type-wrapper">
          <p>Wraps</p>
          <img data-src="{{'HeaderProducts_Wraps.png' | asset_url}}"  class="lazyload" alt="Beanies"/>
        </div>
      </a>
      </div>
  </div> 
 </nav> 

 <nav class="fw mo fixed-nav" id="dnav">

  <a href="/"><img src="{{'Pacas_logo_darkgray.png' | asset_url}}"  class="jlogo" alt="Pacas Home"/></a>
   <a href="/cart" class="cart"><img src="{{'WheelBarrow.png' | asset_url}}" id="mobile-cart" alt="Cart"/><span class="fr">{{ cart.item_count }}</span></a>
  <div id="hamburger">
    <span></span>
    <span></span> 
    <span></span>
    <span></span>
  </div>
  </nav> 
 
 <div class="mobile-drawer mobile-nav1 tac double-padding mo" style="display: none;">
  <img data-src="{{'pacas.png' | asset_url}}" class="jlogo lazyload" alt="Pacas Home"/>
   <span id="mobile-drawer-close" class="clickable" >✕</span>
    <div class="accent-padding border-bottom-gray">
    <a href="/pages/reviews"><h4 class="tac">Reviews</h4></a>
  </div>
  <div class="accent-padding border-bottom-gray">
    <h4 class="tac collection-prod clickable"> Women's 
       <span class="fr">></span>
      </h4>
<div class="childlink" style="display: none;">
      <div class="flex-container-no jcc">
        <a href="/collections/womens-crew" class="half-no background-blue accent-padding drawer-collection-wrapper tac">
           <p>Crew Cut</p>
           <img data-src="{{'HeaderProducts_CrewWomens.png' | asset_url}}" class=" fw lazyload" alt="Women's Crew Cut"/>
        </a>
        <a href="/collections/womens-low-cut" class="half-no background-blue accent-padding drawer-collection-wrapper tac"> 
          <p>Low Cut</p>
          <img data-src="{{'HeaderProducts_NewLowWhite.png' | asset_url}}" class="fw lazyload" alt="Women's Low Cut"/>
        </a>
   
      </div>
      <div class="flex-container-no jcc">
        <a href="/products/pacas-super-soft-scarf" class="half-no background-blue accent-padding drawer-collection-wrapper tac">
          <p>Scarves</p>
          <img data-src="{{'HeaderProducts_Scarves.png' | asset_url}}" class="fw lazyload" alt="Scarves"/>
        </a>
        <a href="/products/pacas-super-soft-throw-blanket" class="half-no background-blue accent-padding drawer-collection-wrapper tac">
        <p>Throws</p>
          <img data-src="{{'HeaderProducts_Throws.png' | asset_url}}"  class="lazyload fw" alt="Throws"/>
     
        </a>
      </div>
       <div class="flex-container-no jcc">
            <a href="/products/pacas-super-soft-wraps" class="half-no background-blue accent-padding drawer-collection-wrapper tac">
        <p>Wraps</p>
          <img data-src="{{'HeaderProducts_Wraps.png' | asset_url}}"  class="lazyload fw" alt="Throws"/>
     
        </a>
        <a href="/products/pacas-super-soft-beanie" class="half-no background-blue accent-padding drawer-collection-wrapper tac">
          <p>Beanies</p>
          <img data-src="{{'ProductsHeader_Beanie.png' | asset_url}}" class="fw lazyload" alt="Beanies"/>
        </a>
     
      </div>

    </div>
  </div>
   
  <div class="accent-padding border-bottom-gray">
    <h4 class="tac collection-prod clickable men-collection-nav"> Men's 
      <span class="fr">></span>
      </h4>
    <div class="childlink" style="display: none;">
      <div class="flex-container-no jcc">
          <a href="/collections/mens-crew" class="half-no background-blue accent-padding drawer-collection-wrapper tac">
          <p>Crew</p>
            <img data-src="{{'HeaderProducts_CrewMens.png' | asset_url}}" class="lazyload"/>
        </a>
        <a href="/collections/mens-low-cut" class="half-no background-blue accent-padding drawer-collection-wrapper tac">
            <p>Low Cut</p>
            <img data-src="{{'HeaderProducts_MensLowcut.png' | asset_url}}" class="lazyload" alt="Men's Low Cut"/>
        </a>
      </div>
         <div class="flex-container-no jcc">
          <a href="/products/pacas-super-soft-scarf" class="half-no background-blue accent-padding drawer-collection-wrapper tac">
          <p>Scarves</p>
          <img data-src="{{'HeaderProducts_MensScarf.png' | asset_url}}" class="fw lazyload" alt="Scarves"/>
        </a>
        <a href="/collections/mens-low-cut" class="vis-hid half-no background-blue accent-padding drawer-collection-wrapper tac">
            <p>Low Cut</p>
            <img data-src="{{'HeaderProducts_MensLowcut.png' | asset_url}}" class="lazyload" alt="Men's Low Cut"/>
        </a>
      </div>
  </div>
   </div>
  <div class="accent-padding border-bottom-gray">
     <h4 class="tac collection-prod clickable kids-collection-nav"> Kid's 
      <span class="fr">></span>
       </h4>
     <div class="childlink" style="display: none;">
      <div class="flex-container-no">
        <a href="/collections/youth-crew" class="half-no background-blue accent-padding drawer-collection-wrapper tac">
          <p>Youth Crew Cut</p>
          <img data-src="{{'HeaderProducts_KidsCrew.png' | asset_url}}" class="fw lazyload" alt="Youth Crew Cut"/>
        </a>
        <a href="/collections/youth-low-cut" class="half-no background-blue accent-padding drawer-collection-wrapper tac">
          <p>Youth Low Cut</p>
          <img data-src="{{'HeaderProducts_Toddler.png' | asset_url}}" class="fw lazyload" alt="Youth Low Cut"/>
        </a>
      </div>
      <div class="flex-container-no jcc">
        <a href="/collections/toddler" class="half-no background-blue accent-padding drawer-collection-wrapper tac">
          <p>Toddler</p>
          <img data-src="{{'HeaderProducts_KidsLow.png' | asset_url}}" class="fw lazyload" alt="Toddler"/>
        </a>
         <a href="/collections/toddler" class="vis-hid half-no background-blue accent-padding drawer-collection-wrapper tac">
          <p>Toddler</p>
          <img data-src="{{'HeaderProducts_KidsLow.png' | asset_url}}" class="fw lazyload" alt="Toddler"/>
        </a>
      </div>
    </div>
   </div>
   <div class="accent-padding border-bottom-gray">
    <a href="/pages/our-story"><h4 class="tac">Giving Back</h4></a>
  </div>
    <div class="accent-padding border-bottom-gray">
    <a href="/pages/pacas-facts"><h4 class="tac">About Alpacas</h4></a>
  </div>
     <div class="accent-padding border-bottom-gray">
    <a href="/products/pacas-gift-card"><h4 class="tac">Gift Cards 💌</h4></a>
  </div>
  <div class="accent-padding border-bottom-gray">
    <a href="/pages/live-feed"><h4 class="tac">Live Feed</h4></a>
  </div>
  <div class="accent-padding border-bottom-gray">
    {% if customer %}
      <a href="/account"><h4 class="tac">View Account</h4></a>
    {% else %}
      <a href="/account/login"><h4 class="tac">Log In</h4></a>
    {% endif %}
  </div>
</div>

