<!doctype html>
<html lang="en">
  <head> 
    <meta charset="utf-8">
    <meta name="robots" content="index, follow, archive">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    {% assign maxmeta = 155 %}
    {% if template contains 'product' %}
    	{% if template == 'collection' %}
    		<meta name="description" content="{{ collection.description | strip_html | strip_newlines | truncate: maxmeta | escape }}">
    	{% else %}
    		<meta name="description" content="{{ product.description | strip_html | strip_newlines | truncate: maxmeta | escape }}">
    	{% endif %}
    {% elsif page_description %}
    	<meta name="description" content="{{ page_description | escape }}">
    	<meta property="og:image" content="{{preview.png | asset_url}}" />
    {% else %}
    	<meta name="description" content="{{ shop.description }}">
    	<meta property="og:image" content="{{preview.png | asset_url}}" />
    {% endif %}
    <meta name="keywords" content="">
    <title>{% if template == 'index' %}Pacas™ {% elsif template == '404' %}Pacas™ | Page Not Found {% else %}Pacas™ | {{ page_title }}{% endif %}</title>
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="icon" type="image/png" href="{{ 'favicon.png' | asset_url }}">
    {{ 'style.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'jquery.min.js' | asset_url }}" ></script>
    <!--     <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js" async=""></script> -->
    <script src="{{ 'custom.jquery.js' | asset_url }}" defer></script>
    <script src="{{  'main.js' | asset_url }}" defer></script>
    <script src="{{  'option_selection.js' | shopify_asset_url }}" defer></script>
    <script src="{{ 'ajax-cart.js'  | asset_url }}" defer></script>
    <script src="{{ 'modernizr.min.js' | asset_url }}" defer></script>
    <script src="{{ 'handlebars.min.js' | asset_url }}"></script>
    <script src="{{ 'jquery.easing.1.3.min.js' | asset_url }}" defer></script>
    <script src="{{'jquery.mobile.custom.min.js' | asset_url}}"></script> 
<!--     <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" defer /> -->
    <script src="{{'lazysizes.min.js' | asset_url}}" async=""></script>
    {% include 'ajax-cart-template' %}
     <script src="https://www.googleoptimize.com/optimize.js?id=OPT-58WD5XX" defer></script> 
    <script async>
      jQuery(function($) {
        ajaxCart.init({
          formSelector: 'form[action="/cart/add"]',
          cartContainer: '#CartContainer',
          addToCartSelector: '[type="submit"]',
          cartCountSelector: '.cart span',
          cartCostSelector: '#CartCost',
          moneyFormat: {{ shop.money_format | json }}
        });
        });

        jQuery(document.body).on('afterCartLoad.ajaxCart', function(evt, cart) {
          timber.RightDrawer.open();
        });
    </script>
    <div id="CartContainer" >
    </div>
<!-- Start of pacas Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=7d3024e7-7da8-447d-b877-b420117c0ea2"> </script>
<!-- End of pacas Zendesk Widget script -->
<!--     <script src="{{  'api.jquery.js' | shopify_asset_url }}" async></script> -->
    {% if template contains 'customers' %}
    	{{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    	{{ 'customer_area.js'  | shopify_asset_url | script_tag }}
    {% endif %}
    <script type="text/javascript">
      var global_money_format = '{{ shop.money_format }}';
    </script>
    {{ content_for_header }}
             
    {% section 'header' %}
    <section class="upper-pad"> 
      {{ content_for_layout }}
      <!--   holiday modal   -->
        	{% include 'holiday-modal' %}
    </section>
    {% section 'footer' %}
    <script>jQuery(function(){jQuery(".swatch :radio").change(function(){var t=jQuery(this).closest(".swatch").attr("data-option-index"),e=jQuery(this).val();jQuery(this).closest("form").find(".single-option-selector").eq(t).val(e).trigger("change")})});</script>
    {% unless template contains 'flow' %}
        <script src="{{'klaviyo.js' | asset_url}}" defer></script>
    	{% include 'klaviyo-pop' %}
    
    {% endunless %}


    {% include 'remove-sold-out' %}
    {% include 'linked-options' %}
    {% render 'afterpay' %}
    </body>
</html>
