
<main id="article-template" class="blog"> 
  <section class="background-green tac index-padding page-header">
    <h2 class="text-white nm">Welcome to</h2>
    <h1 class="nm text-white">The Gekks Blog</h1>
  </section>
  <section class="index-padding">
    <div class="title-border"></div>
    <h2 class="text-green nmb">{{ article.title }}</h2>
    <p class="nm"><span>{{ article.author }}</span></p>
    <p class="nmt">{{ article.published_at | date: "%B %d, %Y" }}</p>
    {{ article.content }} 
  </section>
  <section class="index-padding">
    {% if blog.next_article %}
      <p class="subscript tac">
        {% for post in blog.articles %}
          {% if post.url == blog.next_article %}
            <a href="{{ post.url }}" title="{{ post.title | escape }}">{{ post.title }} &rarr;</a>
          {% endif %}
        {% endfor %}
      </p>
    {% endif %}
    {% if blog.previous_article %}
      <p class="subscript tac">
        {% for post in blog.articles %}
          {% if post.url == blog.previous_article %}
            <a href="{{ post.url }}" title="{{ post.title | escape }}">&larr; {{ post.title }}</a>
          {% endif %}
        {% endfor %}
      </p>
    {% endif %}
    <p class="subscript tac"><a href="/blogs/news">all posts</a></p>
  </section>
</main>

  
      
  