<main id="index">
     <video autoplay muted loop playsinline class="atf-video do">
  <source src="{{'AlpacaVideo1.mov' | asset_url}}" type="video/mp4">
</video>
  <video autoplay muted loop playsinline class="atf-video mo-plus">
  <source src="{{'VideoATF_MobileExported.mov' | asset_url}}" type="video/mp4">
</video>

    <div id="atf-text-buttons-overlay">
      <div>
    <div class="tac" id="atf-text-overlay">
      <h1 class="accent text-white nmt">Softness with a Soul</h1>
      <h4 class="text-white">Buttery soft products made from luxurious, all natural alpaca fleece.</h4>
      <section class="fw" id="cta-buttons-wrap">
      <div class="connect button ib cta-women cta-bandaid" id="cta">
        <div onclick="ga('send', 'event', 'CTA', 'Landing Page', 'Shop Now');" class="clickable"><h4 class="nm tac">Shop Women</h4></div>
      </div>
      <div class="connect button ib cta-men cta-bandaid" id="cta">
        <div onclick="ga('send', 'event', 'CTA', 'Landing Page', 'Shop Now');" class="clickable"><h4 class="nm tac">Shop Men</h4></div>
      </div>
      <div class="connect button ib cta-kids cta-bandaid" id="cta">
        <div onclick="ga('send', 'event', 'CTA', 'Landing Page', 'Shop Now');" class="clickable"><h4 class="nm tac">Shop Kids</h4></div>
      </div>
    </section>
    </div> 
  </div>
</div>
  <section class="tac accent-padding background-green" style="margin-top: -4px;">
    <p class="large">Alpaca Fleece is considered the <b>greenest fiber on earth.</b></p>
  </section>

  <section class="flex-container accent-padding">
    <div class="half">
      <h2 class="accent nm">Your purchase helps us save alpaca herders.</h2>
      <p>90% of the world’s Alpacas are raised in the Peruvian sierra, in harsh conditions at altitudes 13,000 feet above sea level, by thousands of low-income rural families as has been custom for centuries>.</p>
<p>Infectious respiratory diseases caused by the cold and smokey dwelling conditions is the main cause of death of the alpaca herders. </p><p>Your Pacas purchase helps us ensure the herders have a safe and comfortable place to call home to maintain and cultivate the time-honored relationship between animal and farmer.</p>

  
      <p class="tu clickable">Learn More</p>
    </div>
    <div class="half tac" >
      <img src="{{'HutPictureFaded.png' | asset_url}}" style="width: 300px;" /> 
      <div class="tac">
        <h2 class="nm accent">$<span class="accent" id="amount-raised">7123</span></h2>
        <h5 class="">raised towards goal of</h5>
        <h2 class="nm accent">$16000</h2>
      </div>
    </div>
  </section>
  <script>
          setInterval(function(){ 
            if($("#amount-raised").is(":visible")){
              var amountRaised = parseInt($('#amount-raised').text(),10)
              amountRaised += 1
              $('#amount-raised').text(amountRaised)
            }
       }, 5000);
  </script>
  <style>
    .index-grid { height: 36vw; margin: 10px; padding:;}
    #index-grid-wrapper { margin: 10px; }
    #product-highlight-wrapper { margin: 10px; }
    #product-highlight-wrapper img { width: 18%; margin: 10px; }
  </style>

  <section class="tac accent-padding background-blue">
    <h4 class="accent nm">Warmer than wool, softer than cashmere.</h4>
    <p>Alpacas live in the high altitudes of the Andes Mountains, which is an environment that requires a fiber that can adapt to drastic temperature changes and harsh conditions, making it <em>the superior fiber.</em></p>
  </section>
  <section id="index-grid-wrapper">
  <section class="flex-container">
    <div class="two-thirds index-grid" id="index-photo-break">
           <video autoplay muted loop playsinline style="width: 100%; height: 100%;">
  <source src="{{'SheepVideo_Desktop.mov' | asset_url}}" type="video/mp4">
</video>
    </div>
    <div class="third background-beige index-grid flex-container-no jcc clickable" style="background-color: #FFDBCF;">
      <h2 class="large accent nm tac">Warmer<br> than <br>Wool</h2>
      <p class="tac" style="display: none; width: 80%; margin: 0 auto;">
        Alpacas have adapted to their living
        conditions by having microscopic pockets
        in the core of their fiber that retain heat,
        allowing their fleece to be light, yet warmer than merino wool.<br><br>
        While wool tends to absorb water,
        alpaca fleece is moisture wicking,
        which will keep you cool in the summer
        and warm in the winter.
      </p>
    </div>
  </section>
  <section class="flex-container">
     <div class="third background-beige index-grid flex-container-no jcc clickable"  style="background-color: #F8E7FF;" >
      <h2 class="large accent nm tac">Softer<br> than <br>Cashmere</h2>
      <p class="tac" style="display: none; width: 80%; margin: 0 auto;">
        Because of the harsh climate that alpacas
        live in, their fleece is soft yet durable.<br><br>
        While cashmere and alpaca are similar
        to the touch, cashmere is not strong and
        breaks easily, whereas alpaca fleece can
        withstand much more, making it the
        perfect fiber for comfort and athletic gear.
      </p>
    </div>
    <div class="two-thirds index-grid" id="index-photo-break">
                 <video autoplay muted loop playsinline style="width: 100%; height: 100%;">
  <source src="{{'GoatVideo_Desktop.mov' | asset_url}}" type="video/mp4">
</video>
    </div>
  </section>
  <section class="flex-container">
    <div class="two-thirds index-grid" id="index-photo-break">
                 <video autoplay muted loop playsinline style="width: 100%; height: 100%;">
  <source src="{{'AlpacaVideo_Desktop.mov' | asset_url}}" type="video/mp4">
</video>
    </div>
    <div class="third index-grid flex-container-no jcc clickable" style="background-color:#ECF7EA; ">
      <h2 class="large accent nm tac">The<br> Greenest <br>Fiber</h2>
      <p class="tac" style="display: none; width: 80%; margin: 0 auto;">
           Unlike merino sheep and cashmere goats,
          alpacas are incredibly gentle on the land.
          Alpacas feed on only the tops of grasses
          and other plants, and have soft padded
          feet which cause less pasture damage.
          Alpacas also have over 20 natural coat colors
          versus only 3 shades for sheep and goats.
          The result is that less chemicals are required
          during the fiber’s dying and washing process.
      </p>
    </div>
  </section>
</section>
<script>
  $('.index-grid').click(function() {
    $(this).children().toggle();
  })

</script>
<section class="accent-padding tac">
  <h4 class="tac nmt">View our Products:</h4>
  <section class="flex-container-no jcc" id="product-highlight-wrapper">
    <img src="{{'Index-KidsSocks.png' | asset_url}}" />
    <img src="{{'Index-PinkSocks.png' | asset_url}}" />
    <img src="{{'Index-PurpleSocks.png' | asset_url}}" />
    <img src="{{'Index-Scarf.png' | asset_url}}" />
    <img src="{{'Index-Throw.png' | asset_url}}" />
  </section>
</section>


  <section class="flex-container-no double-padding background-pink-beige" id="shop-all-cta">
      <div class=" tac" id="cta-tagline" style="position: absolute;">
        <img data-src="{{'PacasBug-03.png' | asset_url }}" class="lazyload index-guarantee" alt="Comfort Guarantee, If You Don't Love Our Products Return Them for Free" style=""/>
      </div>
      <div id="shop-all-cta-button-wrapper" class="ma cta">
        <div class="connect button ib" id="cta">
          <h4 class="nm tac">Shop Men</h4>
        </div>
         <div class="connect button ib" id="cta">
          <h4 class="nm tac">Shop Women</h4>
        </div>
         <div class="connect button ib" id="cta">
          <h4 class="nm tac">Shop Kids</h4>
        </div>
      </div>
       
  </section>
  {% include 'live-feed' %}
  <script>on_index=true;</script>
</main>
