<main id="index">
     <video autoplay muted loop playsinline class="atf-video do">
  <source src="{{'AlpacaVideo1.mov' | asset_url}}" type="video/mp4">
</video>
  <video autoplay muted loop playsinline class="atf-video mo-plus">
  <source src="{{'VideoATF_MobileExported.mov' | asset_url}}" type="video/mp4">
</video>

    <div id="atf-text-buttons-overlay">
      <div>
    <div class="tac" id="atf-text-overlay">
      <h2 class="accent text-white nm">Warmer than Wool, <br>Softer than Cashmere.</h2>
      <h4 class="text-white">Buttery soft products made from luxurious, all natural alpaca fleece.</h4>
      <section class="fw" id="cta-buttons-wrap">
      <div class="connect button ib cta-women cta-bandaid" id="cta">
        <div onclick="ga('send', 'event', 'CTA', 'Landing Page', 'Shop Now');" class="clickable"><h4 class="nm tac">Shop Women</h4></div>
      </div>
      <div class="connect button ib cta-men cta-bandaid" id="cta">
        <div onclick="ga('send', 'event', 'CTA', 'Landing Page', 'Shop Now');" class="clickable"><h4 class="nm tac">Shop Men</h4></div>
      </div>
      <div class="connect button ib cta-kids cta-bandaid" id="cta">
        <div onclick="ga('send', 'event', 'CTA', 'Landing Page', 'Shop Now');" class="clickable"><h4 class="nm tac">Shop Kids</h4></div>
      </div>
    </section>
    </div> 
  </div>
</div>
  <section class="background-blue accent-padding">
    <h4 class="tac">We’ve tested hundreds of Alpaca blends to curate the most luxurious and natural socks to touch your feet.</h4>
  </section>

  <section class="flex-container jcc" id="materials-grid">
    <img data-src="{{'AlpacasHomepageImagev2.png' | asset_url}}" class="fw third lazyload" alt="Example Alpacas"/>
    <img data-src="{{'sewing.png' | asset_url}}" class="fw third lazyload" alt="Example Yarn"/>
    <img data-src="{{'newfleece.png' | asset_url}}"  class="fw third lazyload" alt="Example Fleece"/>
  </section>
  <section class="background-blue fw accent-padding" style="box-sizing: border-box;">
    <section class="tac background-blue" id="curated">
      <img data-src="{{'ribbon.png' | asset_url}}" class="icon third lazyload" alt="Ribbon Icon"/>
      <h4 class="tac">A percentage of our profits go towards donating Paca gear to local children's hospitals. </h4>
    </section>
  </section>
  <section id="sock-preview-benefits">
    <div class="flex-container-do" style="align-items: flex-start;">
      <div class="sock-preview accent-padding half-do">
        <h4 class="tac accent">View Socks</h4>
        <div class="flex-container-no jes sock-images">
          <div class="left-arrow"><p class="x-large">⌃</p></div>
          <div class="sock-prev-wrapper">
            <img data-src="{{'ViewSocks1.jpg' | asset_url}}" id="athletic" class="lazyload" style="display:none;" alt="Sock Example"/>
            <img data-src="{{'HomepageCrew1.png' | asset_url}}"  class="lazyload" style="display:none;" alt="Sock Example"/>
            <img data-src="{{'ViewSocks2.jpg' | asset_url}}" id="casual" class="lazyload" alt="Sock Example"/>
            <img data-src="{{'HomepageCrew2.png' | asset_url}}"  class="lazyload" style="display:none;" alt="Sock Example"/>
            <img data-src="{{'ViewSocks3.jpg' | asset_url}}" id="dress" class="lazyload" style="display: none;" alt="Sock Example"/>
          </div>
          <div class="right-arrow"><p class="x-large">⌃</p></div>
        </div>
      </div>
      <div class="half-do">
        <div class="accent-padding">
          <h4 class="tac accent">Click to Show Benefits</h4>
          <button class="two-thirds flex-container-no paca-flip-benefits">
            <img data-src="{{'crown.png' | asset_url}}" class="icon lazyload" alt="Crown Icon"/>
            <p class="subscript">
              <b class="front tal ib">Soft as Cashmere</b>
              <b class="back tac" style="display: none;">Alpaca fleece is luxurious and rare</b>
            </p>
          </button>
          <button class="two-thirds flex-container-no paca-flip-benefits">
            <img data-src="{{'poof.png' | asset_url}}" class="icon lazyload" alt="Fleece Icon"/>
            <p class="subscript">
              <b class="front tal ib">Non-itchy & Hypoallergenic</b>
              <b class="back tac" style="display: none;">Naturally smooth, grease free</b>
            </p>
          </button>
          <button class="two-thirds flex-container-no paca-flip-benefits">
            <img data-src="{{'flame.png' | asset_url}}" loading="lazy" class="lazyload icon" alt="Flame Icon"/>
            <p class="subscript">
              <b class="front tal ib">Warmer than Wool</b>
              <b class="back tac" style="display: none;">Trap more heat than sheep wool</b>
            </p>
          </button>
          <button class="two-thirds flex-container-no paca-flip-benefits">
            <img data-src="{{'leaf.png' | asset_url }}" class="lazyload icon" alt="Leaf Icon"/>
            <p class="subscript">
              <b class="front tal ib">Eco-friendly & Natural</b>
              <b class="back tac" style="display: none;">Low environmental impact</b>
            </p>
          </button>
          <button class="two-thirds flex-container-no paca-flip-benefits">
            <img data-src="{{'ribbon.png' | asset_url }}" class="icon lazyload" alt="Ribbon Icon"/>
            <p class="subscript">
              <b class="front tal ib">Gives Back</b>
              <b class="back tac" style="display: none;">% of profits go to kids in hospitals</b>
            </p>
          </button> 
          <button class="two-thirds flex-container-no paca-flip-benefits">
            <img data-src="{{'water.png' | asset_url}}" class="icon lazyload" alt="Water Icon"/>
            <p class="subscript">
              <b class="front tal ib">Thermoregulating & Waterproof</b>
              <b class="back tac" style="display: none;">Provide insulation and moisture wicking</b>
            </p>
          </button>
        </div>
      </div>
    </div> 
  </section>
  <script>
    $('.paca-flip-benefits').click(function() {
      var height = $(this).height() + 6
      $(this).toggleClass('background-blue').toggleClass('jcc').css("height", height).find('img').toggle();
      $(this).find('.front').toggle();
      $(this).find('.back').toggle(); 
      ga('send', 'event', 'Pacas Flip Benefits', 'Landing Page' );
    })
  </script>
  <section class="flex-container-no double-padding" id="shop-all-cta">
    <div id="press-quote-wrapper" class="half">
      <div class=" tac" id="cta-tagline">
        <img data-src="{{'PacasBug-03.png' | asset_url }}" class="lazyload index-guarantee" alt="Comfort Guarantee, If You Don't Love Our Products Return Them for Free"/>
      </div>
      <div class="tac">
        <h3 class="accent tac mo-minus">The Most Comfortable Sock on Earth</h3>

        <div class="flex-container-do jes" id="cta-wrapper">
          <a href="/collections/mens-low-cut" onclick="ga('send', 'event', 'CTA', 'Bottom Landing Page', 'Shop Men');">
            <div class="flex-container-no shop-wrapper">
              <img data-src="{{'shop-mens.png' | asset_url}}" class="lazyload shop-pacas" alt="Shop Men">
              <p>Shop Men</p>
            </div>
          </a>
          <a href="/collections/womens-crew" onclick="ga('send', 'event', 'CTA', 'Bottom Landing Page', 'Shop Women');">
            <div class="flex-container-no shop-wrapper">
              <img data-src="{{'shop-women.png' | asset_url}}" class="lazyload shop-pacas" alt="Shop Women">
              <p>Shop Women</p>
            </div>
          </a>
          <a href="/collections/youth-crew" onclick="ga('send', 'event', 'CTA', 'Bottom Landing Page', 'Shop Kids');">
            <div class="flex-container-no shop-wrapper">
              <img data-src="{{'shop-kids.png' | asset_url}}" class="lazyload shop-pacas" alt="Shop Kids">
              <p>Shop Kids</p>
            </div>
          </a>
        </div>
      </div>

    </div>
    <div class="half asfs do-minus">
      <h3 class="accent tac">The Most Comfortable Sock on Earth</h3>
    </div>
  </section>
  {% include 'live-feed' %}
  <script>on_index=true;</script>
</main>
