


 <main id="paca-facts"> 


  <section class="accent-padding tac" id="softness-grid">
    <h3 class="tac" style="font-weight: normal;max-width: 800px; margin: 20px auto;">Alpacas' unique molecular composition combines the advantages of Merino Wool and Cashmere.{% comment %}  leading to distinct advantages in outdoor performance, while maintaining luxurious comfort. at a similar price to Merino Wool.{% endcomment %}</h3>
    <img src="{{'SoftnessScale_Desktop.png' | asset_url}}" alt="Softness Scale" class="fw do" style="max-width: 1200px; margin: 0 auto;">
    <img src="{{'SoftnessScale_Mobile.png' | asset_url}}" alt="Softness Scale" class="fw mo">

  </section>
  <section class="accent-padding" style="background-color: #F2EEEB;">
        <h3 class="tac accent" >Alpaca Anatomy</h3>

  </section>
  <section id="alpaca-grid" class="accent-padding tac">
{% comment %}   <div class="ib"><p><b>moisture-wicking</b></p><p> unlike wool, alpaca fleece does not absorb moisture</p></div> 
    <div class="ib"><p><b>hypoallergenic</b></p><p> unlike wool, alpaca fleece does not contain lanolin, a natural poil that many people are allergic to</p></div> 
    <div class="ib"><p><b>warmer than wool</b></p><p> alpaca fleece is 5x warmer than merino wool</p></div> 
    <div class="ib"><p><b>thermoregulating</b></p><p> alpaca fleece has a hollow core which keeps you warm in the winter and cool in the summer</p></div> 
    <div class="ib"><p><b>softer than cashmere</b></p><p> alpaca fleece is softer and smoother than cashmere</p></div> {% endcomment %}
{% comment %}    <h3 class="tac accent" style="font-weight: normal; padding: 1px; background-color: #F2EEEB;">Alpaca Anatomy</h3>
{% endcomment %}
        <img src="{{'BenefitsAlpaca_TextDesktop.png' | asset_url}}" alt="Alpaca Benefits" class="fw do" style="max-width: 1200px; margin: 0 auto;">
    <img src="{{'BenefitsAlpacaText_Mobile.png' | asset_url}}" alt="Alpaca Benefits" class="fw mo">
  </section>

  <style>
    #alpaca-grid .ib { 
      max-width: 250px;  
      position: relative;
    }
    #alpaca-grid {
      background-image: url({{"'' | asset_url"}});
      background-repeat: no-repeat;
      background-position: center;
    }
/*    #alpaca-grid { height: 40vw; }
*/   /* #alpaca-grid p b { font-size: 16pt; }
    #alpaca-grid p { font-size: 14pt; }*/
    @media only screen and (min-width: 800px) {
      #alpaca-grid div:nth-of-type(1n) {

      }
      #alpaca-grid div:nth-of-type(2n) {

      }
      #alpaca-grid div:nth-of-type(3n) {

      }
      #alpaca-grid div:nth-of-type(4n) {

      }
      #alpaca-grid div:nth-of-type(4n) {

      }
      #alpaca-grid { background-size: 800px;}
    }
    @media only screen and (max-width: 799px) {
      #alpaca-grid div:nth-of-type(1n) {

      }
      #alpaca-grid div:nth-of-type(2n) {

      }
      #alpaca-grid div:nth-of-type(3n) {

      }
      #alpaca-grid div:nth-of-type(4n) {

      }
      #alpaca-grid div:nth-of-type(4n) {

      }
      #alpaca-grid { background-size: 800px;}
          #paca-facts h2 { font-size: 24pt; }

    }
    @media only screen and (min-width: 1100px) {

      #paca-facts h2 { font-size: 50pt; }



    }
          #paca-facts  ul li, #softness-faqs p, #greenest-faqs p{ font-size: 14pt; }

  </style>
  <section class="background-kr-blue double-padding" id="greenest-faqs">
    <h3 class="tac accent"><span class="text-white accent">Alpaca Fleece is considered the </span><span class="text-green accent">Greenest Fiber on Earth</span></h3>
    <section class="flex-container aifs">
      <div class="greenest-faqs-icons quarter accent-padding tac">
        <img src="{{'Altitude-27.png' | asset_url}}"  alt="Altitude Icon"/>
        <p class="tac">Because alpacas lives at high alittudes, their water supply doesn't take away water destined for food production. Whereas it takes 20,000 liters of competitive water to produce 1kg of cotton.</p>
      </div> 
      <div class="greenest-faqs-icons quarter accent-padding tac">
        <img src="{{'Food-31.png' | asset_url}}" alt="Food Icon" />
        <p class="tac">Alpacas are highly efficient requiring much less food intake than cashmere goats or sheep.</p>
      </div>
      <div class="greenest-faqs-icons quarter accent-padding tac">
        <img src="{{'Gentle-29.png' | asset_url}}" alt="Gentle Icon" />
        <p class="tac">Alpacas nibble only the tops of grasses and other plants, and have soft padded toes resulting in less pasture damage.</p>
      </div>
      <div class="greenest-faqs-icons quarter accent-padding tac">
        <img src="{{'ColorWheel-32.png' | asset_url}}" alt="Color Wheel Icon"/>
        <p class="tac">Alpacas come in 22 shades vs only 3 shades for sheep and goats. The result is less chemicals are required during the dying and washing process.</p>
      </div>

    </section>  
  </section>
  

    <section id="softness-faqs" class="flex-container accent-padding">
     <div class="two-thirds accent-padding" id="softness-example">
            <h3 class="tac accent mo">Softness with a Soul</h3>

        <video autoplay muted loop playsinline controls style="width: 100%; height: 100%;" class="mo">
        <source src="{{'AboutPageVideo_Mobile-O.mov' | asset_url}}" type="video/mp4">
      </video>
           <video autoplay muted loop playsinline controls style="width: 100%; height: 100%;" class="do">
        <source src="{{'AboutPageVideo_Compressed.mov' | asset_url}}" type="video/mp4">
      </video>
     </div>
     <div class="third accent-padding">
      <h3 class="nm do accent">Softness with a Soul</h3>
      <p>Pacas is committed to maintaining and improving the time-honored tradition between animal and farmer through:</p>
      <ul>
        <li><span>Humane and technological shearing</span></li>
        <li><span>Genetic improvement</span></li>
        <li><span>Fiber tracing and sustainability</span></li>
        <li><span>Improving living conditions for herders</span></li>
        <li><span>Increasing incomes for herders</span></li>
      </ul>
    </section>
 </main>




<style>
  .text-green {color: darkgreen;}
  #softness-examples { 
    background-image: url("{{'' | asset_url}}");
    background-size: cover;
  }
  .greenest-faqs-icons img { width: 150px; }
  #softness-faqs ul { 
    list-style-image: url("{{'HypoallergenicIcon-01.png' | asset_url}}");

  }
/*#softness-grid {
  height: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("{{'Softnessdesktop.png' | asset_url}}");
}*/
#softness-faqs ul li { line-height: 3; }
#softness-faqs ul li span{ top: -5px; position: relative;}

@media only screen and (max-width: 799px) {
  .quarter { width: auto !important; }


  .two-thirds, .third {width: 100%; box-sizing: border-box;}
}
@media only screen and (min-width: 800px) {

}
</style>




{% comment %}    <main id="page">	
      <section class="background-pink accent-padding flex-container-no aifs" style="overflow: hidden;">
        <img src="{{'FactsAlpaca.png' | asset_url}}" class="" style="margin-left: -20px; width: 33%;"/>
        <div class="tac asc three-fourths" id="paca-facts-title" >
        	<h2 id="">Why Alpaca is<br class="mo"> the Superior Fiber</h2>
          	<div class="flex-container jcc do">
              <div class="facts-icon-list tac">
                <img src="{{'crown.png' | asset_url}}" class="icon" />
                <h5 class="nm">Soft as Cashmere</h5>
              </div>
              <div class="facts-icon-list tac">
                <img src="{{'poof.png' | asset_url}}" class="icon" />
                <h5 class="nm">Non-itchy and Hypoallergenic</h5>
              </div>
              <div class="facts-icon-list tac">
                <img src="{{'flame.png' | asset_url}}" class="icon" />
                <h5 class="nm">Warmer than Wool</h5>
              </div>
          	</div>
          	<div class="flex-container jcc do">
           	<div class="facts-icon-list tac">
              <img src="{{'water.png' | asset_url}}" class="icon" />
              <h5 class="nm">Thermoregulating and Waterproof</h5>
         	</div>
           	<div class="facts-icon-list tac">
              <img src="{{'leaf.png' | asset_url}}" class="icon" />
              <h5 class="nm">Eco-friendly and Sustainable</h5>
         	</div>
          </div>
        </div>
        <img src="{{'FactsSheep1.png' | asset_url}}" class="quarter" style="margin-right: -20px;" />

      </section>
      <section class="accent-padding background-pink flex-container jes" style="margin-top: -40px;">
        <div class="flex-container jcc mo">
              <div class="facts-icon-list tac">
                <img src="{{'crown.png' | asset_url}}" class="icon" />
                <h5 class="nm">Soft as Cashmere</h5>
              </div>
              <div class="facts-icon-list tac">
                <img src="{{'poof.png' | asset_url}}" class="icon" />
                <h5 class="nm">Non-itchy and Hypoallergenic</h5>
              </div>
              <div class="facts-icon-list tac">
                <img src="{{'flame.png' | asset_url}}" class="icon" />
                <h5 class="nm">Warmer than Wool</h5>
              </div>
          	</div>
          	<div class="flex-container jcc mo">
           	<div class="facts-icon-list tac">
              <img src="{{'water.png' | asset_url}}" class="icon" />
              <h5 class="nm">Thermoregulating and Waterproof</h5>
         	</div>
           	<div class="facts-icon-list tac">
              <img src="{{'leaf.png' | asset_url}}" class="icon" />
              <h5 class="nm">Eco-friendly and Sustainable</h5>
         	</div>
        </div>
        <div class="flex-container-no">
        <img src="{{'Mountains.png' | asset_url}}" class="our-story-illustration"/>
        <p>all the way from Peru...</p>
        </div>
        <div class="flex-container-no">
        <img src="{{'AlpacaFleece.png' | asset_url}}" class="our-story-illustration"/>
        <p>our cozy alpaca fleece...</p>
        </div>
        <div class="flex-container-no">
        <img src="{{'Feet.png' | asset_url}}" class="our-story-illustration"/>
        <p>goes straight to your feet</p>
        </div>
      </section>
        <section class="tac accent-padding">
          <img src="{{'paca-icon.png' | asset_url}}" class="icon"/>
          <p><span class="accent">We started Pacas</span> to bring joy to you and your feet with buttery soft socks made from luxurious, all natural alpaca fleece.</p>
          <p>Alpaca fleece is classified as a speciality fiber, and is soft and luxurious on the skin. We believe in the best quality for the best comfort. Alpaca fibers have no natural grease, which makes color possibilities endless! However, alpacas already have over 20 natural colors.</p>
      </section>
      <section class="accent-padding background-pink flex-container aifs">
        <div class="accent-padding">
          <h3 class="accent nm">Alpaca Fleece vs. Sheep's Wool</h3>
          <p>Although similar, there are a few key differences between wool and alpaca fleece that prove that alpaca fleece is the ultimate animal fiber.</p>
          <h5 class="nmb line-accent">Warmer than Sheep's Wool</h5>
          <p>Unlike sheep's wool, alpaca fibers are completely hollow. This creates greater thermal capacity and allows for more warm air to fill the textile.</p>
          <h5 class="nmb line-accent">Hypoallergenic</h5>
          <p>Alpaca fibers do not contain Lanolin, which is found in sheep's wool. Lanolin tends to irritate many people upon contact.</p>
          <h5 class="nmb line-accent">Moisture Wicking</h5>
          <p>Because alpaca fibers are hollow, they trap more heat and naturally push water away. Water essentially evaporates due to the structure and warmth of the alpaca fiber. In comparison, sheep's wool will absorb up to 50% of its body weight.</p>
        </div>
        <img src="{{'BrownAlpaca.png' | asset_url}}" class="do-minus" style="width: 200px;"/>
        <div class="accent-padding">
          <h3 class="accent nm">History of Alpacas</h3>
          <p>Treasured by the ancient Inca civilization, alpaca's fine fleeces were reserved for Incan royalty. Alpacas provided clothing, food, fuel, and, no doubt, companionship as domesticated animals high in the altiplano of Peru, Chile and Bolivia.</p>
          <p>The alpaca was prized as a source of high quality fiber for almost 5000 years, but after the Spanish conquest of the Incas, alpacas were close to extinction. The Spaniards viewed the alpacas as a competitor for grazing lands for their sheep, and so they killed alpacas almost to the point of annihilation.</p>
          <p>The surviving Incans were driven into the highest parts of the inhospitable Andes mountains, taking their most prized alpacas with them into exile. The alpaca population survived due to their great importance to the Incan people, and their ability to tolerate extraordinarily harsh climatic conditions.</p>
          <p>Today, alpaca farming is still concentrated in the Altiplano. Today, more and more alpacas are being imported to the United States, Europe and Australia, where they benefit from modern day animal husbandry.</p>
          <p class="subscript text-lightgray">source https://www.incaalpaca.co.uk/alpaca-info/about-alpacas/history/</p>
        </div>
      </section>
      <section class="accent-padding-so flex-container jcc aife">
        <div class="paca-facts-faqs">
          <button class="background-blue tac fw">
            <h4 class="nm">What is an alpaca?</h4>
          </button>
          <p style="display: none;">Alpaca are South American Camelids that are closely related to the llama and distantly related to camels.</p>
             <button class="background-blue tac fw">
            <h4 class="nm">Benefits of an alpaca?</h4>
          </button>
          <p style="display: none;"> Alpaca are valued for their fiber. Alpaca fiber is the strongest natural fiber known to man. Alpaca fiber’s insulating value and exceptional softness make it one of the most precious textiles in the world.</p>

             <button class="background-blue tac fw">
            <h4 class="nm">What does an alpaca eat?</h4>
          </button>
                    <p style="display: none;">Alpaca eat grass and whatever else they can find while grazing.</p>

             <button class="background-blue tac fw">
            <h4 class="nm">How long does an alpaca live?</h4>
          </button>
                    <p style="display: none;">Alpacas tend to live about 15-20 years.</p>
  <button class="background-blue tac fw">
            <h4 class="nm">How big do alpacas get?</h4>
          </button>
          <p style="display: none;">Full grown alpacas range from 130 lbs to 170 lbs.
          </p>
          <button class="background-blue tac fw">
            <h4 class="nm">What color are alpacas?</h4>
          </button>
                    <p style="display: none;">Alpaca's have over 20 natural fleece colors. The ability to produce a near limitless color pallet with no dye is a primary advantage of alpaca fiber.</p>

        </div>
        <img src="{{'HomepageAlpaca.png' | asset_url }}" class="half block ma">
    
      </section>
</main>
<script>
  $('.paca-facts-faqs button').click(function(){
	$(this).siblings('p').hide(); 
    $(this).next('p').slideDown(); 
  }); 
</script>
<style>
  @media only screen and (max-width: 799px) {
    #paca-facts-title { align-self: flex-end; }
  }
  .paca-facts-faqs  {
    width: 50%;
    min-width: 300px;
    margin: 10px; 
}
  @media only screen and (min-width: 589px) {
    .paca-facts-faqs {     margin-right: 10vw;}
    #paca-facts-title { margin-left: -2%; }
    .mo-minus { display: none; }
  }
  @media only screen and (max-width: 588px) {
        #paca-facts-title { margin-left: -8%; }
    .paca-facts-faqs { margin: 10px auto !important; }
  }
  .text-lightgray { color: lightgray; }
  .facts-icon-list { margin: 20px; }
  .our-story-illustration { max-width: 200px; width: 50%; }
  .line-accent { overflow: hidden; }
  .line-accent:after{
  content:'';
  display:inline-block;
  width:100%; height:2px;
  margin-right:-100%;
	background: gray; 
    vertical-align: middle;
    margin-left: 5px;

  }
  button {padding: 10px; margin: 10px auto;border-radius: 5px; color: #7b8284; cursor: pointer;}
</style>{% endcomment %}