
<main id="live-feed"> 
  <h4 class="tac">Tag us at <span class="accent">#pacas</span></h4>
  <section class="index-padding-so">
    <div class="feed-row"> 
      <div class="feed-column">
   
        <div>
          <a href="https://www.instagram.com/p/BtbYUten7Qc/" target="_blank">
          <img src="{{'@alpaca_girl122.png' | asset_url}}" />
          <p class="tac subscript">@alpaca_girl122</p>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/p/BqDUzUbF7Bg/" target="_blank">
            <img src="{{'@alpaca.bee.png' | asset_url}}" />
            <p class="tac subscript">@alpaca.bee</p>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/p/BtXtC9aAPrj/" target="_blank">
            <img src="{{'@alpacaloca.nl.png' | asset_url}}" />
            <p class="tac subscript">@alpacaloca.nl</p>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/p/Bsqt7f1HOjO/" target="_blank">
            <img src="{{'@alpacamylife.png' | asset_url}}" />
            <p class="tac subscript">@alpacamylife</p>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/p/Btbo3jhl1d3/" target="_blank">
            <img src="{{'@alpagasdumaquis.png' | asset_url}}" />
            <p class="tac subscript">@alpagasdumaquis</p>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/p/BtMPvDPl_RE/" target="_blank">
            <img src="{{'@living_on_the_island.png' | asset_url}}" />
            <p class="tac subscript">@living_on_the_island</p>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/p/BtcU4Syn3xK/" target="_blank">
            <img src="{{'@llamalpaca16.png' | asset_url}}" />
            <p class="tac subscript">@llamalpaca16</p>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/p/Btdkn9zFNb-/" target="_blank">
            <img src="{{'@lpfpacas.png' | asset_url}}" />
            <p class="tac subscript">@lpfpacas</p>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/p/BtVv2VsA7KO/" target="_blank">
            <img src="{{'@macron6t.png' | asset_url}}" />
            <p class="tac subscript">@macron6t</p>
          </a>
        </div>
      </div>
      <div class="feed-column">
        <div>
          <a href="https://www.instagram.com/p/BtdSjQklJVs/" target="_blank">
            <img src="{{'@alpakamomente.png' | asset_url}}" />
            <p class="tac subscript">@alpakamomente</p>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/p/BtWuq18AW1M/" target="_blank">
            <img src="{{'@annramazanova.png' | asset_url}}" />
            <p class="tac subscript">@annramazanova</p>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/p/Bkve6OYBu7F/" target="_blank">
            <img src="{{'@bajo.tu.cielo.png' | asset_url}}" />
            <p class="tac subscript">@bajo.tu.cielo</p>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/p/BtbVmiDF16v/" target="_blank">
            <img src="{{'@bigbangalpacas.png' | asset_url}}" />
            <p class="tac subscript">@bigbangalpacas</p>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/p/Btc_NqFldkq/" target="_blank">
            <img src="{{'@cardiff_alpacas.png' | asset_url}}" />
            <p class="tac subscript">@cardiff_alpacas</p>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/p/BtWaUXtFQma/" target="_blank">
            <img src="{{'@chloewisbey.png' | asset_url}}" />
            <p class="tac subscript">@chloewisbey</p>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/p/BtZPfQmlebA/" target="_blank">
            <img src="{{'@mashgordon.png' | asset_url}}" />
            <p class="tac subscript">@mashgordon</p>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/p/BtYbGmoBvOs/" target="_blank">
            <img src="{{'@mini_meadows_farm.png' | asset_url}}" />
            <p class="tac subscript">@mini_meadows_farm</p>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/p/BtdXkJilVMn/" target="_blank">
            <img src="{{'@moorhousecottage.png' | asset_url}}" />
            <p class="tac subscript">@moorhousecottage</p>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/p/BtbxcT5H-wv/" target="_blank">
            <img src="{{'@profelees.png' | asset_url}}" />
            <p class="tac subscript">@profelees</p>
          </a>
        </div>
      </div>
      <div class="feed-column">
        <div>
          <a href="https://www.instagram.com/p/BjXqvuigefZ/" target="_blank">
            <img src="{{'@chris.enticott.png' | asset_url}}" />
            <p class="tac subscript">@chris.enticott</p>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/p/Btbbn5lB-7q/" target="_blank">
            <img src="{{'@christopher.webster.585.png' | asset_url}}" />
            <p class="tac subscript">@christopher.webster.585</p>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/p/BtbpNLRjpUp/" target="_blank">
            <img src="{{'@courtneyanne459.png' | asset_url}}" />
            <p class="tac subscript">@courtneyanne459</p>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/p/BrL7YTQgGS2/" target="_blank">
            <img src="{{'@ddauphinee.png' | asset_url}}" />
            <p class="tac subscript">@ddauphinee</p>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/p/Btawx18gbI6/" target="_blank">
            <img src="{{'@endzi_lukasiewicz.png' | asset_url}}" />
            <p class="tac subscript">@endzi_lukasiewicz</p>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/p/BtW-D84gK64/" target="_blank">
            <img src="{{'@shufflingllamas.png' | asset_url}}" />
            <p class="tac subscript">@shufflingllamas</p>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/p/BtbWXQwl7-M/" target="_blank">
            <img src="{{'@werntalapakas7.png' | asset_url}}" />
            <p class="tac subscript">@werntalapakas7</p>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/p/BtbNQq7jjxk/" target="_blank">
            <img src="{{'@yaycork.png' | asset_url}}" />
            <p class="tac subscript">@yaycork</p>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/p/Btdbm7-lGz9/" target="_blank">
            <img src="{{'@sandy_warner.png' | asset_url}}" />
            <p class="tac subscript">@sandy_warner</p>
          </a>
        </div>
        
      </div>
      <div class="feed-column">
        <div>
          <a href="https://www.instagram.com/p/Btbzd0IlXAm/" target="_blank">
            <img src="{{'@ferodrigues05.png' | asset_url}}" />
            <p class="tac subscript">@ferodrigues05</p>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/p/BtVcYvClX4h/" target="_blank">
            <img src="{{'@hallfarmeastoft.png' | asset_url}}" />
            <p class="tac subscript">@hallfarmeastoft</p>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/p/Br-Q1LAFMpk/" target="_blank">
            <img src="{{'@highlandairsalpacaranch.png' | asset_url}}" />
            <p class="tac subscript">@highlandairsalpacaranch</p>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/p/BtcbkHJDDQE/" target="_blank">
            <img src="{{'@hmphotographyanddesign.png' | asset_url}}" />
            <p class="tac subscript">@hmphotographyanddesign</p>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/p/Btc_3sVlMS5/" target="_blank">
            <img src="{{'@sonobonbon.png' | asset_url}}" />
            <p class="tac subscript">@sonobonbon</p>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/p/BtbHe0vAdCe/" target="_blank">
            <img src="{{'@tinylittlenina.png' | asset_url}}" />
            <p class="tac subscript">@tinylittlenina</p>
          </a>
        </div>
          <div>
            <a href="https://www.instagram.com/p/Btb8-YKDH5p/" target="_blank">
              <img src="{{'@tupaca_the_alpaca.png' | asset_url}}" />
              <p class="tac subscript">@tupaca_the_alpaca</p>
            </a>
          </div>
          <div>
            <a href="https://www.instagram.com/p/BtbcVMjBfOi/" target="_blank">
              <img src="{{'@vndrewl.png' | asset_url}}" />
              <p class="tac subscript">@vndrewl</p>
            </a>
          </div>
          <div>
          <a href="https://www.instagram.com/p/Btd3K9UlSD_/" target="_blank">
            <img src="{{'@maryydolly.png' | asset_url}}" />
            <p class="tac subscript">@maryydolly</p>
          </a>
        </div>
        </div>
      </div>
  </section>
</main>