
<main id="our-story">
    <div class="background-pink" style="width: 100%; ">
  <div class="accent-padding tac" style="max-width: 1100px; margin: 0 auto;">
        <div class="flex-container">
  <div class="half-do do">
         <img src="{{'5f8f0f7bd3aca764058750.gif' | asset_url}}" style="width: 100%; border-radius: 100%; box-sizing: border-box;width: 80%; margin: 0 auto;" alt="" id="giving-paca" />

      </div>
                <div class=" accent-padding half-do asfs" style="text-align: left;">
    <h3 class="accent nm">We comfort you.<br class="mo"><span class="accent"> You comfort them.</span></h3>

    <p>Noticing that socks provided to children staying at hospitals needed a serious upgrade, we set out to find the softest, most comfortable fiber the world has to offer.  Alpacas it was, and Pacas was born.</p>
    <p>Our <b>mission</b> is to bring the amazing performance characteristics of alpaca fiber to you at an affordable price, and in doing so outfit every child staying at a children’s hospital with Pacas products to make their stay as comfy as possible.</p>
    
    <p>Each month, a percentage of our profits goes toward donating Pacas socks to local children's hospitals. This month we are donating to Lurie Children's Hospital in Chicago, IL, which has a special place in our hearts.</p>
    <div class="flex-container-no">
      <div>
    <img src="{{'Lurie.png' | asset_url}}" alt="Lurie Children's Hospital" /></div>
    <div style="">
    <img src="{{'Philadelphia.png' | asset_url}}"  alt="Children's Hospital PA" /></div>
    <div>
    <img src="{{'Cincinnati.png' | asset_url}}"  alt="Children's Hospital Cinci" /></div>
  </div>
{% comment %}      <h4 class="accent">We comfort you. You comfort them.</h4>
{% endcomment %}
      </div>

</div>
         <img src="{{'5f8f0f7bd3aca764058750.gif' | asset_url}}" class="mo-plus" style="width: 100%; border-radius: 100%;box-sizing: border-box;padding: 30px;" alt="" id="giving-paca" />

</div>
  </div>
</main>



<style>
  @media only screen and (max-width: 799px) {
    #our-story h3 {font-size: 16pt;}

  }
  @media only screen and (min-width: 800px) {
    #our-story h3 {font-size: 17pt; }

  }
  #brooks-highlight { max-width: 100%; width: 400px;} 
  .brooks-accent { vertical-align: middle; margin: 0 10px; }
  #our-story p { font-size: 14pt; }
</style>

