
<main id="">
    <div class="background-pink" style="width: 100%; ">
  <div class="accent-padding tac" style="max-width: 1100px; margin: 0 auto;">
        <div class="flex-container">
  <div class="half-do asfe do">
         <img src="{{'5f8f0f7bd3aca764058750.gif' | asset_url}}" style="width: 100%; border-radius: 100%; box-sizing: border-box; padding: 30px" alt="" id="giving-paca" />

      </div>
                <div class=" accent-padding half-do asfs" style="text-align: left;"">
    <h3 class="accent">Our Story</h3>

    <p>Noticing that socks provided to children staying at hospitals needed a serious upgrade, we set out to find the softest, most comfortable fiber the world has to offer.  Alpacas it was, and Pacas was born.</p>
    <p>Our <b>mission</b> is to bring the amazing performance characteristics of alpaca fiber to you at an affordable price, and in doing so outfit every child staying at a children’s hospital with Pacas products to make their stay as comfy as possible.</p>
    
    <p>Each month, a percentage of our profits goes toward donating Pacas socks to local children's hospitals. This month we are donating to Lurie Children's Hospital in Chicago, IL, which has a special place in our hearts.</p>
    <div class="flex-container-no">
      <div>
    <img src="{{'Lurie.png' | asset_url}}" alt="Lurie Children's Hospital" /></div>
    <div style="">
    <img src="{{'Philadelphia.png' | asset_url}}"  alt="Children's Hospital PA" /></div>
    <div>
    <img src="{{'Cincinnati.png' | asset_url}}"  alt="Children's Hospital Cinci" /></div>
  </div>
      <h4 class="accent">We comfort you. You comfort them.</h4>

      </div>

</div>
         <img src="{{'5f8f0f7bd3aca764058750.gif' | asset_url}}" class="mo-plus" style="width: 100%; border-radius: 100%;box-sizing: border-box; padding: 30px;" alt="" id="giving-paca" />

</div>
  </div>
</main>



<style>
  #brooks-highlight { max-width: 100%; width: 400px;} 
  .brooks-accent { vertical-align: middle; margin: 0 10px; }
</style>
